@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #7bdaf3;
  font-family: "Poppins", sans-serif;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #e79b29;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5 rem 1rem;
  cursor: pointer;
}

.note {
  background-color: white;
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
  margin: 30px 20px;
  height: 200px;
  width: 300px;
}

.note .tools {
  background-color: #e79b29;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note textarea, .main {
  background-color: white;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 100%;
  width: 100%;
  padding: 20px;
  resize: none;
}

/* .main {
  background-color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
} */

.hidden {
  display: none;
}